<div class="flex items-center justify-start">

    <nz-page-header class="site-page-header" (nzBack)="onBackInvestigation()" nzBackIcon>
    </nz-page-header>

    <app-breadcrumb />

</div>

<div class="container">
    <form action="#" [formGroup]="researchForm">

        <div class="flex space-x-6">
            <div class="w-1/4">
                <nz-steps [nzCurrent]="currentStep" nzDirection="vertical" (nzIndexChange)="onIndexChange($event)"
                    nzSize="small">
                    <nz-step nzTitle="Datos Generales" class="font-controlG"></nz-step>
                    <nz-step nzTitle="Presupuestos" class="font-controlG"></nz-step>
                    <nz-step nzTitle="Integrantes" class="font-controlG"></nz-step>
                </nz-steps>
            </div>

            <div class="w-3/4">
                <div *ngIf="currentStep === 0" class="space-y-6">
                    <div>
                        <label for="code" class="block text-sm font-medium leading-6 font-controlG">Código *</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="code" id="code" formControlName="code"
                                [ngClass]="{ 'ring-red-500': researchForm.controls['code'].invalid && researchForm.controls['code'].touched }"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                        <div *ngIf="researchForm.controls['code'].invalid && researchForm.controls['code'].touched"
                            class="text-sm text-red-500 mt-1">
                            <span class="font-controlG" *ngIf="researchForm.controls['code'].errors?.['required']">Código es requerido.</span>
                        </div>

                    </div>

                    <div>
                        <label for="name_project" class="block text-sm font-medium leading-6 font-controlG">Nombre *</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="name_project" id="name_project" formControlName="name_project"
                                [ngClass]="{ 'ring-red-500': researchForm.controls['name_project'].invalid && researchForm.controls['name_project'].touched }"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                        <div *ngIf="researchForm.controls['name_project'].invalid && researchForm.controls['name_project'].touched"
                            class="text-sm text-red-500 mt-1">
                            <span class="font-controlG" *ngIf="researchForm.controls['name_project'].errors?.['required']">Nombre del proyecto es requerido.</span>
                        </div>

                    </div>

                    <div>
                        <label for="faculty" class="block text-sm font-medium leading-6 font-controlG">Facultad</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="faculty" id="faculty" formControlName="faculty"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                    <div>
                        <label for="rcu" class="block text-sm font-medium leading-6 font-controlG">RCU</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="rcu" id="rcu" formControlName="rcu"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                    <div>
                        <label for="duration" class="block text-sm font-medium leading-6 font-controlG">Duraci&oacute;n</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="duration" id="duration" formControlName="duration"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                    <div>
                        <label for="duration" class="block text-sm font-medium leading-6 font-controlG">Avance</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <nz-slider nzTooltipVisible="always"></nz-slider>

                        </div>

                    </div>

                    
                </div>

                <div *ngIf="currentStep === 1" class="space-y-6">

                    <div>
                        <label for="budget_1" class="block text-sm font-medium leading-6 font-controlG">Primer Año</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="budget_1" id="budget_1" formControlName="budget_1"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                    <div>
                        <label for="budget_2" class="block text-sm font-medium leading-6 font-controlG">Segundo Año</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="budget_2" id="budget_2" formControlName="budget_2"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                    <div>
                        <label for="budget_3" class="block text-sm font-medium leading-6 font-controlG">Segundo Año</label>
                        <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
                            <input type="text" name="budget_3" id="budget_3" formControlName="budget_3"
                                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>

                    </div>

                </div>

                <div *ngIf="currentStep === 2" class="space-y-6">


                </div>
            </div>
        </div>

    </form>
</div>