<div class="flex justify-between items-center">
  <app-breadcrumb />

  <div>
    <button class="m-2 p-2 rounded-md transition-all hover:bg-gray-100" (click)="newInvestigation()">
      <span nz-icon nzType="plus" class="text-lg" nz-tooltip nzTooltipTitle="Crear nuevo registro"></span>
    </button>

    <button class="m-2 p-2 rounded-md transition-all hover:bg-gray-100" (click)="loadResearchs()">
      <span nz-icon nzType="sync" class="text-lg" nz-tooltip nzTooltipTitle="Actualizar registro"></span>
    </button>
  </div>
</div>

<nz-table #basicTable [nzData]="Researchs" nzSize="small" [nzLoading]="loadingResearch" class="font-controlG">
  <thead >
    <tr>
      <th>C&oacute;digo</th>
      <th nzWidth="800px">Nombre Proyecto</th>
      <th>RCU</th>
      <th>Duraci&oacute;n</th>
      <th nzAlign="center">Estado</th>
      <th nzWidth="100px"></th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
      <tr>
        <td>{{ data.code }}</td>
        <td>{{ data.name_project }}</td>
        <td>{{ data.rcu }}</td>
        <td>{{ data.duration }}</td>
        <td nzAlign="center">
          @if (data.status === 'E') {
            <nz-tag [nzColor]="'green'" [nzBordered]="false">En Ejecuci&oacute;n</nz-tag>

          }@else {
            <nz-tag [nzColor]="'pink'" [nzBordered]="false">Finalizado</nz-tag>
          }
        </td>
        <td class="space-x-2">

          <span nz-icon nzType="usergroup-add" nzTheme="outline" style="color: #ff9900;" class="text-lg cursor-pointer" nz-tooltip nzTooltipTitle="Ver Integrantes" (click)="showIntegrantes(data)"></span>
          <span nz-icon nzType="edit" nzTheme="twotone" class="text-lg cursor-pointer" nzTwotoneColor="#0033cc" nz-tooltip nzTooltipTitle="Editar"></span>
          <span nz-icon nzType="delete" nzTheme="twotone" class="text-lg cursor-pointer" nzTwotoneColor="#ff0000" nz-tooltip nzTooltipTitle="Eliminar"></span>

        </td>
      </tr>
    }
  </tbody>
</nz-table>