<div class="flex justify-between items-center">
    <app-breadcrumb />
  
    <div>
      <button class="m-2 p-2 rounded-md transition-all hover:bg-gray-100">
        <span nz-icon nzType="plus" class="text-lg" nz-tooltip nzTooltipTitle="Crear nuevo registro"></span>
      </button>
  
      <button class="m-2 p-2 rounded-md transition-all hover:bg-gray-100">
        <span nz-icon nzType="sync" class="text-lg" nz-tooltip nzTooltipTitle="Actualizar registro"></span>
      </button>
    </div>
  </div>