<div class="flex items-center justify-start">

  <nz-page-header class="site-page-header" (nzBack)="onBackHome()" nzBackIcon></nz-page-header>

  <app-breadcrumb />

</div>

<div class="container">

  <form action="#" method="POST" [formGroup]="provisionForm">

    <div class="flex space-x-6">

      <div class="w-1/4">
        <nz-steps [nzCurrent]="currentStep" nzDirection="vertical" (nzIndexChange)="onIndexChange($event)"
          nzSize="small">
          <nz-step nzTitle="Datos" class="font-controlG"></nz-step>
          <nz-step nzTitle="Fecha" class="font-controlG"></nz-step>
          <nz-step nzTitle="Usuario" class="font-controlG"></nz-step>
        </nz-steps>
      </div>

      <div class="w-3/4">

        <div *ngIf="currentStep === 0" class="space-y-6">

          <div>
            <label for="mode" class="block text-sm font-medium leading-6 font-controlG">Modo *</label>
            <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
              <nz-select class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="Seleccione Modo" formControlName="mode"
                nzNotFoundContent="No se encontró el Modo">
                @for (mode of modes; track mode) {
                <nz-option nzValue="{{ mode.id }}" nzLabel="{{mode.name}}"></nz-option>
                }
              </nz-select>
            </div>

            <div *ngIf="provisionForm.controls['mode'].invalid && provisionForm.controls['mode'].touched"
              class="text-sm text-red-500 mt-1">
              <span class="font-controlG" *ngIf="provisionForm.controls['mode'].errors?.['required']">Seleccione un
                modo.</span>
            </div>
          </div>


          <div>
            <label for="name" class="block text-sm font-medium leading-6 font-controlG">Nombre *</label>
            <div class="relative mt-2 rounded-md shadow-sm max-w-sm">
              <input 
                type="text" 
                name="name" 
                id="name" 
                formControlName="name"
                [ngClass]="{ 'ring-red-500': provisionForm.controls['name'].invalid && provisionForm.controls['name'].touched }"
                class="font-controlG block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-50 sm:text-sm sm:leading-6"
                placeholder="">
            </div>

            <div *ngIf="provisionForm.controls['name'].invalid && provisionForm.controls['name'].touched" class="text-sm text-red-500 mt-1">
              <span class="font-controlG" *ngIf="provisionForm.controls['name'].errors?.['required']">Campo nombre es requerido.</span>
            </div>

          </div>

          <div>
            <label for="description" class="block text-sm font-medium leading-6 font-controlG">Descripci&oacute;n </label>
            <div class="relative mt-2 rounded-md shadow-sm max-w-sm">

              <textarea id="description"
                formControlName="description" 
                name="description" 
                rows="2" 
                class="font-controlG pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"></textarea>

            </div>
          </div>

          <div>
            <label for="antecedent" class="block text-sm font-medium leading-6 font-controlG">Antecendete </label>
            <div class="relative mt-2 rounded-md shadow-sm max-w-sm">

              <textarea id="antecedent"
                formControlName="antecedent" 
                name="antecedent" 
                rows="2" 
                class="font-controlG pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"></textarea>

            </div>
          </div>


        </div>

        <div *ngIf="currentStep === 1" class="space-y-6">
          
          <div>
            <label for="description" class="block text-sm font-medium leading-6 font-controlG">Fecha Inicio - Fecha Fin</label>
            <div class="relative mt-2 rounded-md shadow-sm max-w-sm">

              <nz-range-picker formControlName="dateIni" nzInline></nz-range-picker>

            </div>
          </div>

        </div>

        <div *ngIf="currentStep === 2" class="space-y-6"></div>

        <div class="pt-4 w-96">
          <button
            class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
            nz-button nzType="primary" nzBlock nzSize="default">
            Crear
          </button>
        </div>

      </div>

    </div>


  </form>


</div>